.wrapper {
  display: flex;
  gap: 70px;
  width: 100vw;
  border: 1px solid cyan;
}

.shadow {
  box-shadow: 4px 4px 0px 0px
    light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-green-9),
      var(--mantine-color-black)
    );
  }
}

.image {
  width: 100vw;
  height: 400px;
  flex-shrink: 0;
  border-radius: 30%;
  background: #f0f08e;
  display: flex;
  justify-content: center;
  box-shadow: #000 6px 6px 0px 0px, #0b935c 12px 0px 0px 0px;

  @media (min-width: em(576px)) {
    max-width: 30vw;
  }
}
